*, *::before, *::after {
    box-sizing: border-box;    
}

html {
    margin: 0;
    padding: 0;
    background-color:black;
}

body {
    width: 390px;
    height: 780px;
    margin: 0 auto 0 auto;
    font-family: "Poppins", sans-serif;
}

/**** Header *****/
header {
    height: 213px;
    background-image: url("./assets/worldmap.png");
    background-color: #cccccc; /* fallback background */
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;      /* Scale the image to cover the entire viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header>img {
    width: 95px;
    height: 85px;
}

h1 {
    margin: 0;
    padding: 0;
    color: #32CD32;
    font-weight: 800;
    font-size: 2.6875rem;
    line-height: 150%;
    font-family: "Big Shoulders", sans-serif;
}

header>.titles>p {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 600;
    font-size: 0.763125rem;
    line-height: 150%;
}
/**** Header *****/


/**** Main ****/
main {
    display: flex;
    height: 567px;
    align-items: center;
    justify-content: center;
}

div.border {
    margin: 0;
    padding: 24px 0 0 0;
    width: 362px;
    height: 505px;
    border: 4px #252F42 solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.border > p.title {
    margin: 0;
    padding: 0;
    color: #035A9D;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 150%;
}

div.border > p.title:nth-child(3) {
    margin-top: 5px;
}

textarea {
  width: 317px;
  height: 118px;
  margin: 0;
  padding: 12px 10px; 
  border: none; 
  border-radius: 4px; /* Rounds the corners */
  background-color: #EFF0F4; /* Sets a light gray background color */
  font-size: 1.25rem; /* Sets the font size */
  font-weight: 600;
  color: #333333;
  resize: none; /* Prevents users from resizing the textarea manually */
}

div.languages {
    margin-top: 20px;
    align-self:flex-start;
}

input[type="radio"] {
    margin: 0 0 0 45px;
    padding: 0;
}

div.language > label {
    margin: 0 0 0 5px;
    color: #333333;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 150%;
}

textarea#output {
    margin-top: 14px;
    margin-bottom: -22px;
}

div.border > button {
    all: unset;
    margin-top: 40px;
    background-color: #035A9D;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 150%;
    width: 322px;
    height: 50px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

div.border > button:active {
  /* Define the click animation/effect */
  transform: scale(0.95); /* Makes the button slightly smaller when clicked */
  background-color: #0056b3; /* Darker background on click */
}
/**** Main ****/

/*** Utility ***/
.hidden {
    display: none;
}